.welcome-header {
  margin: 75px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 800;
  color: var(--text-color);
}

.welcome-header__text {
  width: 70%;
  opacity: 0.7;
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

.login-form input {
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 10px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.login-form input:not([type="submit"]) {
  border-bottom: 1px solid var(--text-color);
  transition: border-color 0.3s ease-in-out;
}

.login-form input::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

.login-form input:focus {
  border-color: var(--second-color);
}

.login-form input[type="submit"] {
  background-color: var(--text-color);
  color: var(--main-color);
  border-radius: 5px;
  font-size: 16px;
}

.login-form input:not([type="text"]):not([type="password"]):focus {
  background-color: var(--second-color);
  color: var(--main-color);
}

.login-form a {
  text-align: center;
  font-size: 13px;
}
