.settings-header {
  margin-top: 35px;
}

.settings-header > h1 {
  padding-top: 0px;
  font-weight: var(--font-weight);
  font-size: 20px;
}

.settings-1 > li,
.settings-2 > li {
  margin: 35px 0px;
  position: relative;
  display: flex;
  align-items: center;
}

.settings__icon {
  margin-right: 20px;
  color: gray;
}

.settings__icon + span {
  font-weight: var(--font-weight);
}

.state {
  color: gray;
  font-weight: var(--font-weight);
  position: absolute;
  right: 0px;
}

.settings-badge {
  position: relative;
  left: 6px;
}
